@model IEnumerable<ProductMaster.Models.ProductModel>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

            table.ex1 {
                margin-left: 5%;
            }
    </style>
</head>
<br />
<div class="container">

    <h4 class="jumbotron bg-primary text-center"> Welcome to Pulse Solutions!</h4>
</div>
<hr />

<p style="margin-left: 75px">
    <a asp-action="Create">Add Product</a>
</p>
<table class="table table-bordered table-hover ex1" style="width:80%" height="100%">
    <thead class="thead-dark">
        <tr>
            <th>
                Product Code
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Prodcut Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Product_Code
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <img src="data:image/png;base64,@item.base64Image" height="50px" width="50px" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
        }
    </tbody>
</table>
